@import '../../constants/colors.scss';

.NavSection {
	background-color: transparent;
	border-width: 1px 0;
	border-style: solid;
	border-color: $primary-grey;
	width: 100%;
	height: 100%;
	width: 40px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

