img {
	border: solid transparent 1px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
    transition: transform 0.5s ease;
}

.card {
	transition: transform 0.5s ease;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.card :hover {
	transform: scale(1.1);
}
