@import '../../constants/colors.scss';

.card img {
	border: solid transparent 1px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
	transition: transform 0.5s ease;
	width: 100%;
	height: 100%;
}

.card {
	transition: transform 0.5s ease;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: 18%;
}

.card :hover {
	transform: scale(1.1);
}

@media screen and (max-width: 479px) {
	.card span {
		font-size: 0.5em !important;
	}
	.card img {
		width: 4em;
		height: 4em;
	}
}
