@import "../../constants/bordeRadius.scss";
@import "../../constants/colors.scss";

.RoundButton {
  border-radius: $round;
  background-color: #434544;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
