$primary-grey: #434544;
$primary-black: #2A2630;
$primary-white: #F3F3F3;
$primary-green: #5EE9BF;
$primary-blue: #2F69FF;
$primary-violet: #6360FF;
$primary-pink: #A16AE8;

$minor-grey: #BDBEBE;
$minor-violet: #B19FF9;
$minor-pink: #DB55D4;
$minor-dark-pink: #B537B5;
$minor-blue: #2105D0;
$minor-red: #BB0310;

