// level settings 👇

.slider {
	// slider
	--slider-width: 100%;
	--slider-height: 6px;
	--slider-bg: #434544;
	--slider-border-radius: 999px;
	// level
	--level-color: #f3f3f3;
	--level-transition-duration: 0.1s;
	// icon
	--icon-margin: 15px;
	--icon-color: #2a2630;
	--icon-size: 25px;

	cursor: pointer;
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	box-orient: horizontal;
	box-direction: reverse;

	.volume {
		display: inline-block;
		vertical-align: top;
		margin-right: var(--icon-margin);
		color: var(--icon-color);
		width: var(--icon-size);
		height: auto;
	}

	.level {
		appearance: none;
		width: var(--slider-width);
		height: var(--slider-height);
		background: var(--slider-bg);
		overflow: hidden;
		border-radius: var(--slider-border-radius);
		transition: height var(--level-transition-duration);
		cursor: inherit;

		&::-webkit-slider-thumb {
			appearance: none;
			width: 0;
			height: 0;
			box-shadow: -200px 0 0 200px var(--level-color);
		}
	}

	&:hover .level {
		height: calc(var(--slider-height) * 2);
	}
}
