@import '../../constants/colors.scss';

.buttonMessage {
	display: flex;
	justify-content: center;
	align-items: center;
	font:
		400 16px Helvetica Neue,
		sans-serif;
	box-shadow:
		0 0 2.17382px #2a2630,
		0 1.75px 6.01034px #2a2630,
		0 3.63px 14.4706px #2a2630,
		0 22px 48px #2a2630;
	background-color: #f3f3f3;
	border-radius: 68px;
	padding: 6px 10px 6px 6px;
	width: fit-content;
	height: 40px;
	border: 0;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease-out;

	&:hover {
		height: 56px;
		padding: 8px 20px 8px 8px;
		background-color: #f3f3f3;
		transition: all 0.2s ease-out;
	}

	&:active {
		transform: scale(0.99);
	}

	.contentAvatar {
		width: 30px;
		height: 30px;
		margin: 0;
		transition: all 0.2s ease-out;
		position: relative;

		&:hover {
			width: 40px;
			height: 40px;
		}
	}

	.avatar {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		overflow: hidden;
		background-color: #434544;

		.userImg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.statusUser {
		position: absolute;
		width: 6px;
		height: 6px;
		right: 1px;
		bottom: 1px;
		border-radius: 50%;
		outline: solid 2px #f3f3f3;
		background-color: #00da00;
		transition: all 0.2s ease-out;
		animation: active-status 2s ease-in-out infinite;

		&:hover {
			width: 10px;
			height: 10px;
			right: 1px;
			bottom: 1px;
			outline: solid 3px #f3f3f3;
		}
	}

	.noticeContent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 8px;
		text-align: initial;
		color: #2a2630;

		.username {
			letter-spacing: -6px;
			height: 0;
			opacity: 0;
			transform: translateY(-20px);
			transition: all 0.2s ease-out;

			&:hover {
				height: auto;
				letter-spacing: normal;
				opacity: 1;
				transform: translateY(0);
			}
		}

		.userId {
			font-size: 12px;
			letter-spacing: -6px;
			height: 0;
			opacity: 0;
			transform: translateY(10px);
			transition: all 0.2s ease-out;

			&:hover {
				height: auto;
				letter-spacing: normal;
				opacity: 1;
				transform: translateY(0);
			}
		}

		.lableMessage {
			display: flex;
			align-items: center;
			opacity: 1;
			transform: scaleY(1);
			transition: all 0.2s ease-out;

			&:hover {
				height: 0;
				transform: scaleY(0);
			}
		}

		.username,
		.lableMessage {
			font-weight: bold;
		}

		.numberMessage {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-left: 8px;
			font-size: 12px;
			width: 16px;
			height: 16px;
			background-color: #434544;
			border-radius: 20px;
		}
	}
}

@keyframes active-status {
	0% {
		background-color: #00da00;
	}
	33.33% {
		background-color: #93e200;
	}
	66.33% {
		background-color: #93e200;
	}
	100% {
		background-color: #00da00;
	}
}
