@import '../../../../constants/colors.scss';

.BlockButton {
	background-color: $primary-grey;
	opacity: 0.5;
	display: flex;
	align-items: center;
	padding: 10px 32px;
	gap: 10px;
	width: fit-content;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.IconContainer {
	width: 35px;
	height: 35px;
}

.BlockButton:hover {
	background-color: $primary-violet;
	box-shadow:
		0 0 5px $primary-violet,
		0 0 25px $primary-violet,
		0 0 50px $primary-violet;
	opacity: 1;
}
