@import '../../../../constants/colors.scss';

.navbarButton {
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 0 10px;
	transition: transform 0.2s ease-in-out;
}

.iconContainer {
	width: 35px;
	height: 35px;
}

.iconContainer svg {
	width: 35px;
	height: 35px;
}

.navbarButton:hover {
	transform: scale(1.1);
}

.navbarButton span {
	color: #2a2630;
}
