@import '../../../../constants/colors.scss';

.NavbarButton {
	background-color: transparent;
	display: flex;
	align-items: center;
	padding: 5px 32px;
	gap: 20px;
	width: 100%;
	transition: transform 0.2s ease-in-out;
}

.NavbarButtonActive {
	display: flex;
	align-items: center;
	padding: 5px 32px;
	gap: 20px;
	width: 100%;
	transition: transform 0.2s ease-in-out;
	background-color: $primary-grey;
	border-right: 1px solid $primary-violet;
}

.IconContainer {
	width: 35px;
	height: 35px;
}

.NavbarButton:hover {
	transform: scale(1.1);
}

.NavbarButtonActive:hover {
	transform: scale(1.1);
}
