@import '../../../../constants/colors.scss';

.navbarButton {
	background-color: transparent;
	display: flex;
	align-items: center;
	width: 100%;
	transition: transform 0.2s ease-in-out;
}

.navbarButtonActive {
	border-right: 2px solid $primary-violet;
}

.iconContainer {
	margin: 10px;
	margin-left: 20px;
	width: 30px;
	height: 30px;
}

.iconContainer svg {
	width: 25px;
	height: 25px;
}

.navbarButton:hover {
	background-color: #ADADAE;
}

.navbarButton span {
	color: $primary-grey;
}
