@import '../../../../constants/bordeRadius.scss';
@import '../../../../constants/colors.scss';

.RoundButton {
	border-radius: $round;
	border-color: transparent;
	background-color: $primary-grey;
	opacity: 0.5;
	height: 50px;
	width: 50px;
	transition: transform 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.RoundButton:hover {
	transform: scale(1.1);
	background-color: $primary-violet;
	opacity: 1;
}

.IconContainer {
	transform: scale(1.1);
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
