@import '../../../../constants/bordeRadius.scss';
@import '../../../../constants/colors.scss';

.RoundButton {
	border-radius: $round;
	background-color: $primary-grey;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.IconContainer {
	width: 35px;
	height: 35px;
}
